
:root {
    /*палитра цветов*/
 --primary-text-color: #757575;
 --title-text-color: #212121;
 --navigation-panel-color:#FFFFFF;
 --hover-color: #2196F3;
 --hero-section-and-footer-color: #2F303A;
 --hero-section-text-color:#FFFFFF;
 --hero-section-button-text-color: #FFFFFF;
 --hero-section-button-background-color: #2196F3;
 --primary-section-color:#FFFFFF;
 --second-section-color: #F5F4FA;
--portfolio-button-text-color:#212121;
--portfolio-button-text-hover-color:#FFFFFF;
--portfolio-button-background-color:#F5F4FA;
--color-of-logo-footer-span:#FFFFFF;
--color-of-contacts-text-on-footer:#FFFFFF;
--color-of-contacts-links-on-footer: rgba(255, 255, 255, 0.6);





 
 

}

/*сброс стилей*/
* {list-style: none;
margin: 0;
padding: 0;
box-sizing: border-box;}

a {text-decoration: none;}

/*задание основного цвета текста и  цвета  заголовков (одинаковый для всех заголовков)
а также основного шрифта сайта */

body {
    
    color: var(--primary-text-color) ;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em 

}
/*стилизация заголовков сайта (не все заголовки имеют такой стиль шрифта-ниже будем перебивать специфичностью) */

.hero-title {color: var(--hero-section-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.title {color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;

}
/*-------- далее некоторые свойства стилей заголовков перебиваем специфичностью */
.first-section .title {
    
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    

    
}

.title-h2 {
    
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    }

.second-studio-list .person {

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    

}

.portfolio-page-main-section .title {

    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
}

/*стилизация шрифтов хедера (а также лого футера)*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

/*----шрифты для кнопок хедера*/

.main-menu-button {

   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

/*----шрифты для ссылок хедера*/

.main-site-memu-contacts a  {

font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}

/*стилизация шрифтов студии*/

/*-----стилизация шрифтов главной кнопки*/
 
.main-button-conteiner button {
    font-family: Roboto , sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

}

/*стилизация шрифтов кнопок портфолио*/

.portfolio-page-navigation button  {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 162%;
text-align: center;
letter-spacing: 0.03em;
}













/*стилизация цветов хедера  (общий)*/
.main-header  {background-color: var(--navigation-panel-color);} 
.logo {color: var(--hover-color) ; }
.logo-span {color: var(--title-text-color);}
.main-site-menu-conteiner a {color: var(--title-text-color);}
.main-site-menu-conteiner a:hover,
.main-site-menu-conteiner a:focus {color:var(--hover-color);}
.main-site-memu-contacts-conteiner a {color: var(--primary-text-color);}
.main-site-memu-contacts-conteiner a:hover ,
.main-site-memu-contacts-conteiner a:focus {color: var(--hover-color);}

/*стилизация цветов студии*/

.main-button-section {background-color: var(--hero-section-and-footer-color);}

.main-button-section  button {color: var(--hero-section-button-text-color) ;
background-color: var(--hero-section-button-background-color) ;}





.first-section , .first {background-color: var(--primary-section-color) ;}
.second {background-color: var(--second-section-color);}

/*стилизация цветов портфолио*/

       /*стилизация кнопок */

.portfolio-page-navigation {background-color: var(--primary-section-color);}
.portfolio-page-navigation button  {color:var(--portfolio-button-text-color);
background-color: var(--portfolio-button-background-color);}
.portfolio-page-navigation button:hover ,
.portfolio-page-navigation button:focus { color:var(--portfolio-button-text-hover-color);
background-color: var(--hover-color);}
     
       /*стилизация основного контента секции портфолио*/
       .portfolio-page-main-section {background-color: var(--primary-section-color) ;
    }

    .portfolio-page-main-section-links p {color:var(--primary-text-color);}





/*стилизация цветов футера(общий для всех страниц)*/    
.mail , .telephone {color: var(--color-of-contacts-links-on-footer);}

.main-footer {background-color: var(--hero-section-and-footer-color);}
.contacts .logo-span {color: var(--color-of-logo-footer-span)} 
.contacts-text {color:var(--color-of-contacts-text-on-footer)}



